.animation-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.bg-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f00;
  animation-name: bg-change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.logo-image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}

.logo-image:hover {
  width: 150px;
  height: 50px;
  border-radius: 0;
  animation-name: image-change;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes bg-change {
  0% {
    background-color: #f00;
    border-radius: 50%;
  }
  50% {
    background-color: #0f0;
    border-radius: 0%;
  }
  100% {
    background-color: #00f;
    border-radius: 50%;
  }
}

@keyframes image-change {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
